createdAt: "2019-05-14T16:47:05.707Z"
updatedAt: "2019-05-14T16:47:18.842Z"
type: "MARKDOWN_NOTE"
folder: "53592d511ecebe3c5f90"
title: "Normal Mode"
tags: []
content: "# Normal Mode"
linesHighlighted: []
isStarred: false
isTrashed: false
