createdAt: "2019-04-15T23:21:39.747Z"
updatedAt: "2019-04-15T23:21:49.013Z"
type: "MARKDOWN_NOTE"
folder: "de93a30cfc4c5db1cd64"
title: "Reference vs value"
tags: []
content: '''
  Reference vs value
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
