createdAt: "2019-05-14T16:47:20.185Z"
updatedAt: "2019-05-14T16:47:23.595Z"
type: "MARKDOWN_NOTE"
folder: "53592d511ecebe3c5f90"
title: "Visual Mode"
tags: []
content: "Visual Mode"
linesHighlighted: []
isStarred: false
isTrashed: false
