createdAt: "2019-02-27T03:13:44.122Z"
updatedAt: "2019-02-27T03:46:07.849Z"
type: "MARKDOWN_NOTE"
folder: "1e84427fd688715e0374"
title: "Function Stack"
tags: []
content: '''
  # Function Stack
  
  1. from high to low address
  2. 
'''
isStarred: false
isTrashed: false
