createdAt: "2019-05-19T00:59:56.912Z"
updatedAt: "2019-05-19T01:00:13.114Z"
type: "MARKDOWN_NOTE"
folder: "e40b65fb5fdfec4f7a6a"
title: "Gitlab"
tags: []
content: "# Gitlab"
linesHighlighted: []
isStarred: false
isTrashed: false
