createdAt: "2019-02-21T23:27:28.589Z"
updatedAt: "2019-02-21T23:27:54.004Z"
type: "MARKDOWN_NOTE"
folder: "47e5037b08f42cc61e8a"
title: "Prototype and \\_\\_Proto\\_\\_"
tags: []
content: "# Prototype and \\_\\_Proto\\_\\_"
isStarred: false
isTrashed: false
