createdAt: "2019-01-16T21:53:23.037Z"
updatedAt: "2019-01-16T21:54:05.769Z"
type: "SNIPPET_NOTE"
folder: "e441ae69397ccf095059"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
isStarred: false
isTrashed: true
