createdAt: "2019-04-25T00:29:17.348Z"
updatedAt: "2019-04-25T00:29:37.902Z"
type: "MARKDOWN_NOTE"
folder: "de93a30cfc4c5db1cd64"
title: "... spread operator"
tags: []
content: '''
  # ... spread operator
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
