createdAt: "2019-02-07T01:36:06.697Z"
updatedAt: "2019-02-07T01:36:15.097Z"
type: "MARKDOWN_NOTE"
folder: "de93a30cfc4c5db1cd64"
title: "function vs method"
tags: []
content: '''
  # function vs method
  
  
'''
isStarred: false
isTrashed: false
