createdAt: "2019-01-18T21:49:59.263Z"
updatedAt: "2019-01-18T21:50:07.761Z"
type: "MARKDOWN_NOTE"
folder: "b2e3887662cc252b67c3"
title: "Thread weaver"
tags: []
content: '''
  # Thread weaver
  
  
'''
isStarred: false
isTrashed: false
