createdAt: "2019-05-18T23:58:53.628Z"
updatedAt: "2019-05-19T01:57:07.637Z"
type: "MARKDOWN_NOTE"
folder: "e40b65fb5fdfec4f7a6a"
title: "Sqaure"
tags: []
content: '''
  # Sqaure
  
  ### valuation
  
  27.62B ( 270亿)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
