createdAt: "2019-02-02T00:32:55.874Z"
updatedAt: "2019-02-02T00:33:02.577Z"
type: "MARKDOWN_NOTE"
folder: "b2e3887662cc252b67c3"
title: "Callable"
tags: []
content: '''
  # Callable
  
  
'''
isStarred: false
isTrashed: false
