createdAt: "2019-03-06T00:57:30.451Z"
updatedAt: "2019-03-06T00:57:38.764Z"
type: "MARKDOWN_NOTE"
folder: "47e5037b08f42cc61e8a"
title: "Prototype Pattern"
tags: []
content: '''
  # Prototype Pattern
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
