createdAt: "2019-05-19T01:00:03.626Z"
updatedAt: "2019-05-19T01:00:14.776Z"
type: "MARKDOWN_NOTE"
folder: "e40b65fb5fdfec4f7a6a"
title: "Slack"
tags: []
content: "# Slack"
linesHighlighted: []
isStarred: false
isTrashed: false
