createdAt: "2019-03-07T23:57:41.445Z"
updatedAt: "2019-04-15T22:54:49.100Z"
type: "MARKDOWN_NOTE"
folder: "de93a30cfc4c5db1cd64"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
