createdAt: "2019-05-19T01:03:08.462Z"
updatedAt: "2019-05-19T01:03:16.861Z"
type: "MARKDOWN_NOTE"
folder: "e40b65fb5fdfec4f7a6a"
title: "Lyft"
tags: []
content: '''
  # Lyft
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
