createdAt: "2019-05-14T16:47:29.111Z"
updatedAt: "2019-05-14T16:47:34.281Z"
type: "MARKDOWN_NOTE"
folder: "53592d511ecebe3c5f90"
title: "Insert Mode"
tags: []
content: "Insert Mode"
linesHighlighted: []
isStarred: false
isTrashed: false
